# Exclui pastas e arquivos específicos do PyCharm
.idea/

# Exclui metadados do setuptools
*.egg-info/

# Exclui outros arquivos e astas comuns que não devem ser versionados
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.coverage
dist/
build/